.parcel-cache
node_modules
dist
dist/index.html
dist/modulo 22 - landing page.f75de5e1.js
dist/modulo 22 - landing page.f75de5e1.js.map
dist/scripts/main.js
dist/scripts/main.js.map
dist/styles/main.css
dist/styles/main.css.map
